//@theme "/usr/share/rofi/themes/Monokai.rasi"
//@theme "/home/steezus/.local/share/rofi/themes/base16-material-palenight.rasi"
//@theme "/home/steezus/.local/share/rofi/themes/base16-material-palenight.rasi"
@theme "/home/steezus/.local/share/rofi/themes/base16-material-palenight.rasi"
